html, body {
  overflow-x: hidden;
}

.modal-video {
  background: rgba(0, 0, 0, 0.9) !important;
}

.lg-backdrop {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.lg-react-element {
  display: none;
}

.lg-container, .lg-container * {
  direction: ltr !important;
}

.rc-slider-handle {
  border-color: var(--clr-style) !important;
  background-color: var(--clr-style) !important;
  opacity: 1 !important;
}
.productImage{
  max-height: 500px;
  position: relative;
  left: 20%;
}
.shop_attributes{width: 100%}
.shop_attributes tr, .shop_attributes th {border-width: 1px; color: #000}

.shop_attributes tr:nth-child(even) {background: #f8f8f8}
.shop_attributes tr:nth-child(odd) {background: #d0e4f2}

.sub_title_section th {
  padding: 5px 0px;
  font-size: 19px;
}

.rc-slider-handle-dragging {
  box-shadow: 0 0 0 2px var(--clr-style) !important;
}

.product-image {
  width: 100%;
  height: 245px;
  object-fit: contain; /* This will make the image fit within the given width and height, and it will be fully visible */
}
.related-products-slider .swiper-container,
.slider-3items .swiper-container,
.screenshots-slider .swiper-container {
  direction: ltr !important;
}


.pricing.style-8 .rc-slider-handle {
  background-color: #fff !important;
  border-color: #fff !important;
}


.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-bullet {
  margin: 0 20px!important;
}